body{
    display: flex;
    justify-content: center;
    align-items: center;
}

div.main{
    width: 40%;
    min-width: 500px;
    height: 675px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div{
    height: 100px;
    width: 100px;
}

ul{
    display: block;
    margin: 0;
    list-style: none;
}

section{
    background-color: red;
    padding: 5px;
    margin-bottom: 15px;
    color: white;
    font-family: serif;
}


.bread{
    background-color: #ddb786;
    width: 60%;
}

.big{
    height: 60px;
    border-radius: 70px 70px 10px 10px;
    border-bottom: 15px solid #d2a05e;
}

.small{
    height: 25px;
    border-radius: 10px 10px 70px 70px;
    border-top: 10px solid #d2a05e;
}

.chesse{
    background-color: #ffd602;
    width: 70%;
    height: 12px;
    border-bottom: 3px solid #c0a000;
}

.tomato{
    background-color: #fe0000;
    width: 50%;
    height: 25px;
    border-bottom: 3px solid #d50101;
}

.meat{
    background-color: #cd6434;
    width: 60%;
    height: 30px;
    border-radius: 20px;
    border-bottom: 3px solid #8c4423;
}

ul.purpleThing{
    background-color: #81007f;
    width: 35%;
    height: 25px;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

ul.purpleThing li{
    width: 12%;
    height: 100%;
    background-color: #dda0dc;
    border-radius: 50%;
}

ul.balls{
    width: 30%;
    height: 50px;
    display: flex;
    justify-content: center;
    padding: 0;

}

ul.balls li{
    width: 30%;
    background-color: brown;
    height: 100%;
    border-radius: 50%;
}

.salad{
    background-color: #90f08f;
    width: 30%;
    height: 30px;
    border-bottom: 10px solid #008001;
    border-radius: 0 0 50px 50px;
}

.plate{
    background-color: #999999;
    width: 70%;
    height: 25px;
    border-top: 7px solid #5c5c5c;
    border-radius: 5px 5px 50px 50px;
}